@use "sass:math";

.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness solid #ddd;
  box-shadow: $base-box-shadow;

  // this below line will give error, to resolve we need math package
  // border-radius: $base-border-radius / 4;
  border-radius: math.div($base-border-radius, 2);

  .card-title {
    font-size: $font-size-lg;
    padding-bottom: $base-padding;
    font-size: bold;
  }

  .card-body {
    font-size: $base-font-size;

    a {
      text-decoration: underline;
    }
  }
}

// debug in the sass use to debug, when we are mostly calculating something and want to see the result in the console
@debug math.div($base-border-radius, 2);
@debug "Hellow world";
